<div class="container">

  <div class="row">
    <div class="column">
      <h3>Начните с простой регистрации</h3>

      <form>

        <div *ngIf="state.type === 'phone'">
          <span class="sign">Введите номер телефона</span>
          <tui-input-phone tuiAutoFocus [formControl]="state.form">Номер телефона</tui-input-phone>
          <tui-field-error [formControl]="state.form"></tui-field-error>
          <button tuiButton class="toggle-reg-variant" shape="rounded" size="xs" appearance="flat" (click)="useEmail()">Использовать E-mail</button>
        </div>
        
        <div *ngIf="state.type === 'email'">
          <span class="sign">Введите E-mail</span>
          <tui-input tuiAutoFocus [formControl]="state.form">E-mail</tui-input>
          <tui-field-error [formControl]="state.form"></tui-field-error>
          <button tuiButton class="toggle-reg-variant" shape="rounded" size="xs" appearance="flat" (click)="usePhone()">Использовать номер телефона</button>
        </div>
        
        <div *ngIf="state.type === 'sms-verification'">
          <span class="sign">Введите код из СМС</span>
          <tui-input tuiAutoFocus [textMask]="state.mask!" [formControl]="state.form">Код из СМС</tui-input>
          <tui-field-error [formControl]="state.form"></tui-field-error>
        </div>
        
        <div *ngIf="state.type === 'email-verification'">
          <span class="sign">Введите код из электронного писма</span>
          <tui-input tuiAutoFocus [textMask]="state.mask!" [formControl]="state.form">Код из письма</tui-input>
          <tui-field-error [formControl]="state.form"></tui-field-error>
        </div>
        
        <div *ngIf="state.type === 'password'">
          <span class="sign">Введите номер телефона</span>
          <input class="hidden" name="username" [value]="getUsername()">
          <ng-container [formGroup]="state.form">
            <tui-input-password tuiAutoFocus formControlName="password">Введите пароль</tui-input-password>
            <tui-field-error formControlName="password"></tui-field-error>
            <tui-input-password formControlName="confirmPassword">Подтвердите пароль</tui-input-password>
            <tui-field-error formControlName="confirmPassword"></tui-field-error>
          </ng-container>
        </div>

      </form>

      <a tuiButton class="back-btn" appearance="flat" *ngIf="hasPrev()" shape="rounded" (click)="prev()">
        <tui-svg src="tuiIconArrowLeft"></tui-svg> Назад
      </a>
      <a tuiButton class="cta-button" shape="rounded" [showLoader]="(loading$ | async)!" [disabled]="!state.form.valid" (click)="next()">
        Далее <tui-svg src="tuiIconArrowRight"></tui-svg>
      </a>

      <sis-social-sign-up-buttons></sis-social-sign-up-buttons>

      <p class="sign-in-link">Уже регистрировались? <a [routerLink]="['/sign-in']" tuiLink>Войти</a></p>

    </div>
    <div class="column">
      <img class="illustration" src="assets/illustrations/illustration_2.svg">
    </div>
  </div>

</div>