:host {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--tui-base-01);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 24px;
  box-sizing: border-box;
}

.row {
  display: flex;

  .column {
    width: 50%;
  }
}

img.illustration {
  margin-left: -100px;
}

form {
  max-width: 370px;
  margin-bottom: 60px;
}

.sign-in-link {
  margin-top: 30px;
}

.toggle-reg-variant {
  margin-top: 10px;
}

.back-btn {
  margin-right: 10px;
}

tui-input,
tui-input-phone,
tui-input-password {
  margin-top: 45px;
}